// Fonts
$font-text: "Trebuchet MS", Helvetica, sans-serif;
$font-title: 'Exo 2', sans-serif;

// Colors
$color-transparent: rgba(#000, 0);
$color-black: #000;
$color-white: #fff;
$color-blue: #1698D9;
$color-blue-hover: #2EA8E6;
$color-red: #D91667;
$color-red-hover: #E52E7A;
$color-light-gray: #B3B3B3;
$color-gray: #666;
$color-yellow: #FFFF66;

// Breakpoints
$breakpoint-2xl: 1280px;
$breakpoint-xl: 1024px;
$breakpoint-md: 768px;
$breakpoint-md: 564px;

// Animations
$transition-default: .2s ease;